<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meongnyang">
    <!-- 인터넷, 위치 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".login.GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".map.WithMapActivity"
            android:exported="false" />
        <activity
            android:name=".community.WriteActivity"
            android:exported="false" />
        <activity
            android:name=".community.RecommentActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".login.CatEnrollActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".qna.QnaPostActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".community.CommentActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".NaviActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login.TypeActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".login.EnrollActivity"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/MyDatePickerStyle" />
        <activity
            android:name=".login.NicknameActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_key" />
            </intent-filter>
        </activity>
        <activity
            android:name=".skin.ResultActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".skin.SkinMainActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".mypage.ChoiceActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".mypage.AddActivity"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/MyDatePickerStyle" />
        <activity
            android:name=".map.PlayMapActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".map.MapActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".skin.CameraActivity"
            android:exported="false"
            android:noHistory="true" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/app_key" />
    </application>

</manifest>